
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
}

body,
html {
  height: 100%;
  width: 100%;
  background: #000;
  /* overflow: hidden; */
}

#root {
  height: 100%;
  width: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.content{
  width: 40%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.content img{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 20%;
}
.content h2{
  font-size: 2rem;
}
.innerDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.inputdiv{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
}
.inputdiv input {
  width: 100%;
  padding: 0.75rem;
  color: var(--text);
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  background: rgb(32, 31, 35);
  border-radius: 0.5rem;
  outline: 1.5px solid rgb(231, 230, 230);
}
.inputdiv p {
  width: 100%;
  padding: 0.15rem;
  color: var(--text);
  font-weight: 700;
  font-size: 1rem;
}
.inputdiv textarea {
  width: 100%;
  padding: 0.75rem;
  color: var(--text);
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  background: rgb(32, 31, 35);
  border-radius: 0.5rem;
  overflow: hidden;
  outline: 1.5px solid rgb(231, 230, 230);
}
.innerDiv button{
  font-size: 1rem;
  padding: 0.75rem;
  background: #0782cf;
  border-radius: 0.55rem;
  border: none;
  transition: 0.4s ease;
}
.innerDiv button:hover{
  background:#064e7a;
}
.innerDiv .a{
  color: #0782cf;
  text-align: end;
}

/* Spinner */
.spinner {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@media (max-width: 480px){
  .content{
    width: 100%;
  }
}